<h1>Goodreads Clone

  {{#link-to 'authors'}} Authors {{/link-to}} |
  {{#link-to 'books'}} Books {{/link-to}}

</h1>

<div class="ui grid">
  <div class="one wide column"></div>
  <div class="fifteen wide column">
    {{outlet}}
  </div>
</div>
